<h1>Listing all cards</h1>

<div class="cards">
  <%= for card <- @cards do %>
    <div id="<%= card.id %>" class="card">
      <div class="card-body">
        <div class="front">
          <%= raw card.question %>
        </div>
        <div class="back">
          <%= card.answer %>
        </div>
      </div>
    </div>
  <% end %>
</div>
